@import "tailwindcss";
@import "./theme.css";
@import "../components/button/theme.css";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  overflow: auto;
  height: auto;
}

html, body, #app{
  width: 100%;
  height: auto;
}